<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head.ejs %>
  <link rel="stylesheet" href="stylesheets/landing.css">
</head>
<body>
  <% include partials/header.ejs %>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="content">
          <h1>YelpCamp</h1>
          <h3>Start planning your next trip today</h3>
          <hr>
          <a role="button" href="/campgrounds" class="btn btn-secondary btn-round">
            <i class="fa fa-tree"></i> Get Started!
          </a>
        </div>
      </div>
    </div>
  </div>

  <% include partials/footer.ejs %>
  <script src="scripts/background.js" defer></script>
</body>
</html>