<%+ extend('layout') %>

<%+ section('head') %>
<link rel="stylesheet" href="/stylesheets/signing.css">
<%+ endSection %>

<%+ section('content') %>

<div class="container">

    <form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label class="sr-only">Username</label>
        <input class="form-control" type="text" name="username" placeholder="Username" required autofocus>
        <label class="sr-only">Password</label>
        <input class="form-control" type="password" name="password" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>


<%+ endSection %>