<%+ extend('layout') %>

<%+ section('head') %>
<link rel="stylesheet" href="/stylesheets/signing.css">
<%+ endSection %>

<%+ section('content') %>

<div class="container">

    <form class="form-signin" action="/register" method="post">
        <h2 class="form-signin-heading">Please sign up</h2>
        <label class="sr-only">Username</label>
        <input class="form-control" type="text" name="username" placeholder="Username" required autofocus>
        <label class="sr-only">Password</label>
        <input class="form-control" type="password" name="password" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>

</div>

<%+ endSection %>