@keyframes background_imgs {
  0% {
    background-image: url(../img/photo-1414016642750-7fdd78dc33d9.jpeg);
  }
  10% {
    background-image: url(../img/photo-1444012104069-996724bf4a0a.jpeg);
  }
  20% {
    background-image: url(../img/photo-1444012236767-1b471c68781c.jpeg);
  }
  30% {
    background-image: url(../img/photo-1445888985293-8e1b904061c4.jpeg);
  }
  40% {
    background-image: url(../img/photo-1444228250525-3d441b642d12.jpeg);
  }
  50% {
    background-image: url(../img/photo-1445308394109-4ec2920981b1.jpeg);
  }
  60% {
    background-image: url(../img/photo-1445888761652-fc13cbb0d819.jpeg);
  }
  70% {
    background-image: url(../img/photo-1444210971048-6130cf0c46cf.jpeg);
  }
  80% {
    background-image: url(../img/photo-1445888985293-8e1b904061c4.jpeg);
  }
  90% {
    background-image: url(../img/photo-1445888985293-8e1b904061c4.jpeg);
  }
  100% {
    background-image: url(../img/photo-1445888985293-8e1b904061c4.jpeg);
  }
}

body {
  background-size: cover;
  background-position: center;
  animation: background_imgs 30s ease-in-out infinite;
}

body,
html {
    width: 100%;
    height: 100%;
    /*font-family: "Lato";*/
    color: white;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

.content{
	padding-top: 10rem;
	text-align: center;
}

.content h1, .content h3{
    text-shadow: 0 4px 3px rgba(0,0,0,0.4),
                 0 8px 13px rgba(0,0,0,0.1),
                 0 18px 23px rgba(0,0,0,0.1);
}

.alert{
  width: 100%;
  position: absolute;
  top: 4rem;
  z-index: 10;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
